<!DOCTYPE html>
<html>
  <head>
    <title>Enterpriseape</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Us", welcome_about_path %></li>
        <li><%= link_to "Contact", welcome_contact_path %></li>
        <li><%= link_to "Features", welcome_features_path %></li>
        <li><%= link_to "Pricing", welcome_pricing_path %></li>
        <li><%= link_to "FAQs", welcome_faq_path %></li>
        <li><%= link_to "Invoices", invoices_path %></li>
        <li><%= link_to "Login", root_path %></li>
      </ul>

      <%= yield %>

    </div>
  </body>
</html>
